.homeMainDiv {
    left: 50%;
    transform: translateX(25%);
}

@media screen and (max-width: 767px) {
    .homeMainDiv {
        display: inline;
        height: 80%;
        overflow: scroll;
        bottom: 0;
    }

    .homeMainDiv > div {
        width: 100%;
        height: 50%;
        margin: 0;
        display: inline-table;
    }

    .technologiesDiv > * {
        margin: 2px;
    }
}